syntax: glob
bin/**
gen
*.apk
.apt_generated/**
.gradle/**
local.properties
build/intermediates/**
build/outputs/**
build/tmp/**
.idea/**
.DS_Store
build/generated/**
*.iml
gradle.properties
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat
build/android-profile/**